.suggestion-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.suggestion-users{
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 0px 8px #ccc;
    padding: 30px 0px;
    align-items:center;
}
.suggestion-width{
    width: 100%;
    display: flex;
    justify-content: center;
}
.suggestion-users-title-container{
    width: 90%;
    border-bottom: 1px solid #ccc ;
    margin-bottom: 20px;
}
.suggestion-users-title{
    font-size: 18px!important;
    margin-bottom: 10px;
}
.suggestion-preview{
    width: 73%;
    height: 100%;
    background: #F2F3F5;
    display: flex;
}

.suggestion-preview-empty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.suggestion-preview-label{
    color: #65676B;
    font-weight: bolder;
    font-size: 20px;
}

.suggestion-preview-img{
    width: 10%;
}

@media only screen and (max-width:800px){
    .suggestion-users{
        width: 50%;
    }
    .suggestion-preview{
        width: 50%;
    }
    
}