<div [formGroup]="publicationForm">
    <div class="modal-header">
        <h4 class="modal-title">Crear publicación</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body-owner">
            <div class="modal-body-owner-circle"></div>
            <div class="modal-body-owner-info">
                <label>David Arellano</label>
            </div>
        </div>
        <div class="modal-body-text">
            <textarea formControlName="text" placeholder="¿Qué estas pensando?" id="" cols="60" rows="3"></textarea>
        </div>
        <div class="modal-body-actions">
            <label for="" class="modal-body-actions-info">
                Agregar a tu publicación
            </label>
            <div class="modal-body-actions-icons">
                <fa-icon [icon]="faQuestion" style="color: #dc3545;margin-right: 15px;"></fa-icon>
                <fa-icon [icon]="faImages" style="color: #20C97D;margin-right: 15px;" ></fa-icon>
                <fa-icon [icon]="faUser" style="color: #0460D9;margin-right: 15px;"></fa-icon>
                <fa-icon [icon]="faMarker" style="color: #dc3545;margin-right: 15px;" ></fa-icon>
                <fa-icon [icon]="faSmile" style="color:#F2BF5E; margin-right: 15px;" ></fa-icon>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="!text?.valid"  class="btn btn-primary w-100" (click)="activeModal.close('publication')" >Publicar</button>
    </div>
</div>    