<div class="pub-feelings-content">
    <div class="pub-feelings-auxiliar-content">
        <div class="pub-feeling-section" (click)="incrementLike()">
            <fa-icon [icon]="faHandPointRight" ></fa-icon>
            <div class="pub-feeling-section-label" >Me gusta</div>
        </div>
        <div class="pub-feeling-section">
            <fa-icon [icon]="faCommentAlt" ></fa-icon>
            <div class="pub-feeling-section-label" >Comentar</div>
        </div>
        <div class="pub-feeling-section">
            <fa-icon [icon]="faShare" ></fa-icon>
            <div class="pub-feeling-section-label" >Compartir</div>
        </div>
    </div>
</div>